*{
    font-family: 'Times New Roman', Times, serif;
}


/* #overlay {
    padding-bottom: 1%;
    position: relative;
    top: 0;
    bottom: 0;
    background-color: rgba(44, 36, 36, 0.157);
} */

.panel-heading {
    background-color: gainsboro;
}

.navbar {
    background-color: #050c2e;
}